/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
	font-family: 'Open Sans', sans-serif;	
	color: #333;
	background: #d53369; /* Old browsers */
	background: -moz-linear-gradient(left, #d53369 0%, #cbad6d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #d53369 0%,#cbad6d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #d53369 0%,#cbad6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d53369', endColorstr='#cbad6d',GradientType=1 ); /* IE6-9 */	
}

#container {
	/*background-color: lightgrey;*/
	width: 40%;
	margin: 0 auto;
	margin-top: 3rem;
	padding: 20px;
	border-radius: 5px;
	background-color: #fff;
}

.completed {
	color: grey;
	text-decoration: line-through;
}

h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 2.5rem;
	text-align: center;
}

input[type="text"] {
	width: 100%;
	font-size: 1.25rem;
	border-color: transparent!important;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

input:focus, textarea {
    outline: none !important;
}

ul > li {
	list-style: none;
	font-size: 1.25rem;
}

i {
	color: #B33A3A;
}

span {
	width: 0;
	opacity: 0;
	transition: 0.2s linear;
	display: inline-block;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

